# Arquivos de ambiente
.env
*.env

# Diretórios Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo